

     p.large 
      {
        text-align: center;
        font-size: 35px;
      }
      h2.weapons
      {
        -webkit-text-fill-color: coral;
        font-family: "Arial";
      }
      img.bansheeImage
      {
        display: block;
        margin: 0 auto;
        width: 1000px;
      }
      body
      {
        background-color: #efeff5;
        background-image: url("http://1.bp.blogspot.com/-LA2HzS2zx7s/VYr407CZXNI/AAAAAAAJKHY/J1_dAe0MZkc/s1600/110424vzw66mdc3w3kmrm7.jpg");
        background-blend-mode:overlay;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        padding-bottom: 100px;
      }
      h1.bansheeTitle
      {
        font-family: "Arial";
        font-size: 100px;
        text-shadow:5px 5px 10px rgba(92, 90, 90, 0.863);
      }
      h1.bansheeCost
      {
        font-family: "Arial";
        font-size: 80px;
        text-shadow:5px 5px 10px rgba(90, 90, 92, 0.863);
      }
      span.bansheeCostColor
      {
          color: rgb(255, 193, 78);
      }
      h2.weapons
      {
        text-align: center;
        font-size: 90px;
        text-shadow:5px 5px 10px black;      
          
      }
      div.wepInfo
      {
        font-family: "Arial";
        font-size: 30px;
        padding-left: 50px;
        padding-right: 50px;
      }
      div.overview
      {
        font-family: "Arial";
        font-size: 30px;
        padding-left: 50px;
        padding-right: 50px;
      }
      h2.overviewHeading
      {
        text-align: center;
        font-size: 90px;
        -webkit-text-fill-color: coral;
        text-shadow:5px 5px 10px black; 
        font-family: "Arial";
      }
      hr.intro
      {
        box-shadow: 1px 1px #888888;
      }
      #nav1
      {  
          background-color:rgb(0, 0, 0);  /*whichever you want*/
          opacity: 0.8;           /*0.5 determines transparency value*/ 
          filter:(opacity=50);       
      }
      img.exiaLogo
      {
        width: 70px;
        height: 50px;
      }
      div.preSpace
      {
          padding-bottom: 240px;
      }


      /* Bootstrap CSS */
      ul.navbar-nav
      {
        font-size: 30px;
      }
        
